body.night-mode {
    background-color: #343a40 !important;
    color: #fff !important;
}
body.night-mode .is-mobile-login-btn {
    color: rgba(255,255,255,.5) !important;
}
body.night-mode .content-part .ellipsis, .sidebar-popular-posts .ellipsis,
body.night-mode .content-part .msub, .sidebar-popular-posts .msub,
body.night-mode .content-part .mtitle, .sidebar-popular-posts .mtitle,
body.night-mode .sidebar-popular-posts .ellipsis, .sidebar-popular-posts .ellipsis,
body.night-mode .sidebar-popular-posts .msub, .sidebar-popular-posts .msub,
body.night-mode .sidebar-popular-posts .mtitle, .sidebar-popular-posts .mtitle {
    color: #fff;
}
body.night-mode .content-part .box-on-going {
    background-color: #282F2F;
}
body.night-mode .sidebar-categories .col-6 {
    padding-left: 0;
}
body.night-mode .sidebar-categories .col-6 a.btn.btn-dark {
    width: 100%;
    background-color: #282F2F;
    border-color: #282F2F;
    text-align: left;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    margin-bottom: .5em;
}
body.night-mode .row.footer .card.col-12 {
    background: transparent;
}

/*End night mode*/

body>.row:nth-child(2) .col-md-4 {
    padding-left: 0;
}

body>.row:last-child {
    margin-top: 30px;
}

.is-mobile-night-mode-btn,
.is-mobile-login-btn {
    text-decoration: none;
    border: none;
    width: fit-content;
    position: absolute;
    right: 4em;
    top: 5px;
    color: rgba(0, 0, 0, .55) !important;
    display: inline-block;
    padding: .3125rem 0 .3125rem 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.is-mobile-night-mode-btn {
    right: 7em;
}

.is-mobile-night-mode-btn:hover,
.is-mobile-login-btn:hover {
    color: rgba(0, 0, 0, .55);
    text-decoration: none;
}

.box-login {
    position: absolute;
    right: 0;
    font-size: 1.25rem;
}

.box-search {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.box-search .input-group .input-group-text {
    background-color: #007bff;
    color: #fff;
    border-color: transparent;
}

.box-night-mode {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.sidebar-keywords div.col-12 {
    padding-left: 0;
    padding-right: 0;
}

.sidebar-popular-posts .row:first-child {
    padding-left: 0;
}

.sidebar-popular-posts h2 {
    width: 100%;
}

.content-part .box-on-going {
    padding: .75em 0 .75em 0.5em;
    border-radius: 8px;
    margin: 10px 0 10px 0;
}

.sidebar-popular-posts .box-post-detail {
    padding: .75em 0 .75em 0;
}

.content-part .col-4 {
    width: 90px;
    max-width: 90px;
    padding-right: 15px;
}

.content-part .image img,
.sidebar-popular-posts .box-post-detail .image img {
    border: 1px solid gray;
    object-fit: cover;
    min-height: 118px;
    width: 80px;
    display: block;
    height: 127px;
    border-radius: 6px;
}

.box-news {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-news img {
    width: 160px !important;
    height: 90px !important;
    border-radius: 6px;
}

.content-part .mtitle,
.sidebar-popular-posts .mtitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #4a4a4a;
}

.content-part .msub,
.sidebar-popular-posts .msub {
    color: #707570;
    font-size: 13px;
    margin-bottom: 5px !important;
}

.content-part .is-ellipsis-1,
.sidebar-popular-posts .is-ellipsis-1 {
    -webkit-line-clamp: 1;
}

.content-part .ellipsis,
.sidebar-popular-posts .ellipsis {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75em;
    color: #4a4a4a;
}
.content-part .ellipsis.is-fixed-bottom,
.sidebar-popular-posts .ellipsis.is-fixed-bottom {
    margin-top: .75em;
}

.content-part span.tag,
.sidebar-popular-posts span.tag {
    align-items: center;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .7);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.sidebar-categories a {
    font-size: 0.8rem;
    width: 100%;
    text-align: left;
}

.btn-show-more {
    background-color: #eef6fc;
    color: #1d72aa;
    border: transparent;
}

.footer {
    padding: 3rem 1.5rem 6rem;
}

.footer .card {
    border: none;
}

.footer .card .card-body {
    padding: 0;
}

.footer .card .card-body ul.list-inline a {
    font-size: 14px;
}

.sidebar-popular-posts a:hover,
.sidebar-popular-posts a,
.box-night-mode a:hover,
.box-night-mode a,
.content-part a:hover,
.content-part a {
    text-decoration: none;
}

.turn-night-mode {
    cursor: pointer;
}

.navbar-dark button.navbar-toggler:focus,
.navbar-dark button.navbar-toggler,
.navbar-light button.navbar-toggler:focus,
.navbar-light button.navbar-toggler {
    padding: 0;
    border: none;
    border-color: transparent;
}

.lbl-user-name {
    font-size: 15px;
}

.box-profile img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.box-navigation {
    text-align: center;
    justify-content: center;
}

#modal_login .modal-body .row .col-xs-12 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-lst {
    background-color: transparent;
    padding: 0;
}

.not-found-category {
    justify-content: center;
}

@media screen and (min-width: 1408px) {
    body {
        max-width: 1344px;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .box-news img {
        width: 112px !important;
        height: 75px !important;
    }
}

@media only screen and (max-width: 575px) {
    .box-news .comtent-news {
        padding-left: 0;
    }
}
